*{
    background-repeat: no-repeat;
    background-color: #F4F3EE
    
  }
  

.profil{
    border: solid white;
    margin-left: 500px;
    margin-top: 50px;
    width: 500px;
    height: 800px;
    box-shadow: 60px -16px #E0AFA0
    
}

